@media (max-width: 476px) {

    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header {
        height: 700px;

        &__text {
            align-items: center;
            margin-top: 147px;
        }

        &__star-wrapper {
            display: none;
        }

        &__mobile-wrapper {
            display: block;
        }

        &__heading {
            font-size: 40px;
            text-align: center;
        }

        &__description {
            width: 100%;
            padding-bottom: 36px;
            font-size: 1rem;
            text-align: center;
            line-height: 100%;
        }

        &__link {
            height: 51px;
        }
    }

    .link {
        width: 285px;
        font-size: 1rem;
        font-weight: 600;
        line-height: 20px;
    }

    .mobile {

        &__star {

            &-big {
                top: -14.8%;
                right: -30%;
            }

            &-1 {
                top: 9.14%;
                left: 24.2%;
            }

            &-2 {
                top: 13.9%;
                left: 9.84%;
            }

            &-3 {
                bottom: 17.9%;
                right: 22.9%;
            }

            &-4 {
                bottom: 11.3%;
                right: 9%;
            }
        }
    }

    .main-content {
        padding-bottom: 10px;

        &-wrapper {
            display: none;
        }
    }

    .about {
        display: none;
    }

    .content {
        article:last-child {
            margin-bottom: 0px;
        }

        &__heading {
            padding-top: 54px;
            padding-bottom: 3rem;
            font-size: 40px;
        }

        &__game {
            &-reverse {
                flex-direction: column-reverse;
            }

            &-column {
                flex-direction: column;
            }

            &-text {
                width: 100%;
                height: min-content;
                padding: 29px 29px 32px 29px;
            }

            &-name {
                padding-bottom: 1rem;
                font-size: 2rem;
            }

            &-info {
                padding-bottom: 2rem;
                font-size: 1rem;
                line-height: 100%;
            }

            &-img {
                width: 100%;
                height: 285px;
            }
        }

        &__link {
            height: 55px;
            width: 100%;
        }
    }

    .footer {

        &__text {
            padding: 42px;
            font-size: 1rem;
        }
    }
}

@media (min-width: 376px) and (max-width: 426px) {
    
    .center {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (min-width: 426px) and (max-width: 476px) {
    
    .center {
        padding-left: 36px;
        padding-right: 36px;
    }
}