@media (min-width: 476px) and (max-width: 768px) {

    .center {
        padding-left: 24px;
        padding-right: 24px;
    }

    .header {
        &__text {
            position: absolute;
            z-index: 3;
            width: 100%;
        }

        &__heading {
            font-size: 40px;
        }

        &__description {
            padding-bottom: 36px;
            font-size: 1rem;
            line-height: 100%;
        }
    }
}