@import 'vars';

html {
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - $width-site / 2);
    padding-right: calc(50% - $width-site / 2);
}

.header {
    background-color: #E1FF8F;
    position: relative;
    overflow: hidden;
    height: 800px;

    &__star {

        &-big {
            top: -333.5px;
            right: -488px;

            &-beam1 {
                top: -10px;
                left: 854px;
            }

            &-beam2 {
                top: 254px;
                left: 1067px;
            }

            &-beam3 {
                top: 379px;
                left: 1225px;
            }

            &-beam4 {
                top: 468px;
                left: 1247px;
            }

            &-beam5 {
                top: 663px;
                left: 1345px;
            }
        }

        &1 {
            top: 69px;
            left: 156px;
        }

        &2 {
            top: 94px;
            left: 63px;
        }

        &3 {
            top: 538px;
            left: 948px;
        }

        &4 {
            top: 568px;
            left: 1013px;
        }
    }

    &__mobile-wrapper {
        display: none;
    }

    &__text {
        display: flex;
        flex-direction: column;
        margin-top: 196px;
    }

    &__heading {
        color: $color-black;
        font-size: 4rem;
        font-weight: 700;
        line-height: 100%;
        text-align: left;
    }

    &__description {
        display: inline-block;
        width: 720px;
        padding-top: 1.5rem;
        padding-bottom: 3rem;
        color: $color-black;
        font-size: 1.5rem;
        font-weight: 400;
        text-align: left;
        line-height: 2rem;
    }

    &__link {
        height: 66px;
    }
}

.link {
    display: inline-block;
    padding: 1rem 1.7rem 1rem 1.7rem;
    width: 247px;
    border: 1px solid $color-black;
    border-radius: 60px;
    background: $color-black;
    color: $color-white;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 29px;
    text-align: center;
    transition: all 2s;

    &:hover {
        background: $color-white;
        color: $color-black;
    }
}

.main-content {
    background-color: $color-black;
    position: relative;
    overflow: hidden;
    padding-bottom: 126px;
}

.star {

    &__position {
        position: absolute;
        z-index: 2;
    }

    &-big {
        top: 1.5%;
        right: -9.9%;
    }

    &1 {
        top: 15.5%;
        left: 1.5%;
    }

    &2 {
        top: 16.5%;
        left: 2.8%;
    }

    &3 {
        top: 31.4%;
        right: 8.6%;
    }

    &4 {
        top: 32%;
        right: 3%;
    }

    &5 {
        bottom: 0.9%;
        right: 10.4%;
    }

    &6 {
        bottom: 1.3%;
        right: 3.6%;
    }
}

.about {
    padding-bottom: 6rem;

    &__heading {
        padding-top: 98px;
        color: $color-white;
        font-size: 4rem;
        font-weight: 600;
        line-height: 100%;
        text-align: left;
    }

    &__text {
        display: inline-block;
        width: 700px;
        padding-top: 2rem;
        padding-bottom: 4.5rem;
        color: $color-white;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 2rem;
        text-align: left;
    }

    &__game {
        border-radius: 30px;
        background-color: $color-white;
        z-index: 3;
        transition: all 1s;

        &:hover {
            transform: scale(1.1);
        }

        &-box {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: 473px 7px 512px;
            gap: 32px;
        }

        &-img {
            width: 100%;
            height: 314px;
            border-radius: 30px;
            margin-bottom: 32px;
        }

        &-number {
            padding: 8px 16px 10px 16px;
            margin-left: 2rem;
            border-radius: 53px;
            background: #F7F7F7;
            color: $color-black;
            font-size: 1rem;
            font-weight: 500;
            line-height: 20px;
            text-align: left;
        }

        &-name {
            padding-top: 1rem;
            margin-top: 1rem;
            margin-left: 2rem;
            color: $color-black;
            font-size: 2rem;
            font-weight: 700;
            text-align: left;
            letter-spacing: 0px;
            line-height: 100%;
        }
    }
}

.game-name_width {
    display: inline-block;
    width: 250px;
}

.position-game- {

    &1 {
        grid-row: 1 / 2;
        grid-column: 1 / 5;
    }

    &2 {
        grid-row: 1 / 3;
        grid-column: 5 / 9;
    }

    &3 {
        grid-row: 1 / 2;
        grid-column: 9 / 13;
    }

    &4 {
        grid-row: 2 / 4;
        grid-column: 1 / 5;
    }

    &5 {
        grid-row: 3 / 4;
        grid-column: 5 / 9;
    }

    &6 {
        grid-row: 2 / 4;
        grid-column: 9 / 13;
    }
}

.content {

    &__heading {
        padding-bottom: 4.5rem;
        color: $color-white;
        font-size: 4rem;
        font-weight: 700;
        text-align: left;
        line-height: 100%;
    }

    &__game {
        max-width: 100%;
        border-radius: 30px;
        background-color: $color-white;
        display: flex;
        margin-bottom: 32px;

        &-text {
            width: $width-site / 2;
            height: 500px;
            padding: 3rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            z-index: 3;
        }

        &-name {
            width: 504px;
            padding-bottom: 1.5rem;
            color: $color-black;
            font-size: 3rem;
            font-weight: 700;
            text-align: left;
        }

        &-info {
            padding-bottom: 36px;
            color: $color-black;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 2rem;
            text-align: left;
        }

        &-img {
            width: $width-site / 2;
            height: 500px;
            border-radius: 30px;
            z-index: 3;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }

    &__link {
        height: 66px;
    }
}

.img-game- {
    &1 {
        background-image: url(/img/about__game1.jpg);
    }

    &2 {
        background-image: url(/img/about__game2.jpg);
    }

    &3 {
        background-image: url(/img/about__game3.jpg);
    }

    &4 {
        background-image: url(/img/about__game4.jpg);
    }

    &5 {
        background-image: url(/img/about__game5.jpg);
    }

    &6 {
        background-image: url(/img/about__game6.jpg);
    }
}

.footer {
    background-color: $background-color;

    &__text {
        padding-top: 61px;
        padding-bottom: 65px;
        color: #000;
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 100%;
        text-align: center;
    }
}

@import 'tablet';
@import 'mobile';